<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>ocpidev-library</title><link rel="stylesheet" type="text/css" href="docbook-xsl.css" /><meta name="generator" content="DocBook XSL Stylesheets Vsnapshot" /></head><body><div xml:lang="en" class="refentry" lang="en"><a id="idp140260037491424"></a><div class="titlepage"></div><div class="refnamediv"><h2>Name</h2><p>ocpidev-library — manage an OpenCPI component library.</p></div><div class="refsynopsisdiv"><a id="_synopsis"></a><h2>Synopsis</h2><p><span class="strong"><strong><code class="literal">ocpidev</code></strong></span> [<span class="emphasis"><em>&lt;options&gt;</em></span>] <span class="emphasis"><em>&lt;verb&gt;</em></span> <span class="strong"><strong><code class="literal">library</code></strong></span> <span class="emphasis"><em>&lt;name&gt;</em></span></p></div><div class="refsect1"><a id="_description"></a><h2>DESCRIPTION</h2><p>The <span class="strong"><strong><code class="literal">library</code></strong></span> noun represents an OpenCPI component library, which is a
single directory in a project that holds a collection of specifications,
workers and tests that can be built, exported and installed to support
applications.</p><p>A component library is described by its directory structure
and Makefile and has source and binary forms,
but does not have an XML definition.</p><p>In a project, a component library resides in its own directory.
The default configuration is a single component library named
<span class="strong"><strong><code class="literal">components</code></strong></span> that exists at the top level of a project.
Multiple-library configurations are also possible; in this configuration,
the libraries reside in their own directories underneath a
directory named <span class="strong"><strong><code class="literal">components</code></strong></span> that exists at the top level of the project.
Note that none of the sublibraries underneath this directory
can be named <span class="strong"><strong><code class="literal">components</code></strong></span>.</p><p>A component library has the following directory structure:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Component and protocol specifications exist in a <span class="strong"><strong><code class="literal">specs/</code></strong></span> directory.
</li><li class="listitem">
Workers that implement the component exist in their own directories
named <span class="emphasis"><em>&lt;worker-name&gt;</em></span><span class="strong"><strong><code class="literal">.</code></strong></span><span class="emphasis"><em>&lt;authoring-model-suffix&gt;</em></span>; for example, <span class="strong"><strong><code class="literal">MyWorker.rcc</code></strong></span> or <span class="strong"><strong><code class="literal">MyWorker.hdl</code></strong></span>.
</li><li class="listitem">
Unit test suites for components in the library exist in
their own directories named <span class="emphasis"><em>&lt;component-name&gt;</em></span><span class="strong"><strong><code class="literal">.test/</code></strong></span>; for example,
<span class="strong"><strong><code class="literal">MyWorker.test</code></strong></span>.
</li><li class="listitem">
When the library is built, links to the built binaries and metadata files
required to use the components in the library from outside the library exist
in the <span class="strong"><strong><code class="literal">lib/</code></strong></span> directory.
</li></ul></div><p>For more information on component library directory structure,
its Makefile and forms, see the chapter "Component Libraries"
in the <span class="emphasis"><em>OpenCPI Component Development Guide</em></span>.</p><p>Verbs that can operate on a component library are:</p><div class="variablelist"><dl class="variablelist"><dt><span class="term">
<span class="strong"><strong><code class="literal">build</code></strong></span>
</span></dt><dd>
    Build all assets in the library, creating files and directories as required.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">clean</code></strong></span>
</span></dt><dd>
    Remove all the generated and compiled files for all assets
    in the library.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">create</code></strong></span>
</span></dt><dd>
    Create the named library, creating files and directories as required.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">delete</code></strong></span>
</span></dt><dd>
    Remove all directories and files associated with the named library.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">run</code></strong></span>
</span></dt><dd>
    Run all unit tests in the library, creating files and directories as required.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">utilization</code></strong></span>
</span></dt><dd>
    Display information about FPGA resource use for all built workers contained
    in the library.
</dd></dl></div><p>Note that an asset’s name is implied by the directory you’re in when
you issue the <span class="strong"><strong><code class="literal">ocpidev</code></strong></span> command. For component libraries, this
means that you can perform operations (verbs) on the library
without having to specify its name when you issue the
<span class="strong"><strong><code class="literal">ocpidev</code></strong></span> command from inside the library.</p><p>The <span class="strong"><strong><code class="literal">ocpidev</code></strong></span> tool can also operate on a plural <span class="strong"><strong><code class="literal">libraries</code></strong></span> noun.
The syntax is:</p><p><span class="strong"><strong><code class="literal">ocpidev --local-scope</code></strong></span> [<span class="emphasis"><em>&lt;options&gt;</em></span>] <span class="strong"><strong><code class="literal">show libraries</code></strong></span></p><p>where <span class="strong"><strong><code class="literal">show</code></strong></span> is the only valid verb and the options
that can be specified are <span class="strong"><strong><code class="literal">-d</code></strong></span> <span class="emphasis"><em>&lt;directory&gt;</em></span> and
the <span class="strong"><strong><code class="literal">show</code></strong></span> verb options. Note that the default global scope
is not valid for the <span class="strong"><strong><code class="literal">libraries</code></strong></span> noun and generates an error.
When you use the <span class="strong"><strong><code class="literal">libraries</code></strong></span> noun, you must specify
the <span class="strong"><strong><code class="literal">--local-scope</code></strong></span> option (or just <span class="strong"><strong><code class="literal">--local</code></strong></span>) to override the default.</p></div><div class="refsect1"><a id="_options"></a><h2>OPTIONS</h2><p>In the descriptions below, a plus sign (+) after the option indicates
that it can be specified more than once on the command line.</p><p>Keywords for platforms supported by OpenCPI that can be
specified in the <span class="emphasis"><em>&lt;platform&gt;</em></span> argument to an option
can be found in the tables of supported platforms in the <span class="emphasis"><em>OpenCPI User Guide</em></span>.</p><p>Keywords for architectures supported by OpenCPI that can be specified
in the <span class="emphasis"><em>&lt;target&gt;</em></span> argument to an option include <span class="strong"><strong><code class="literal">isim</code></strong></span>, <span class="strong"><strong><code class="literal">modelsim</code></strong></span>,
<span class="strong"><strong><code class="literal">stratix4</code></strong></span>, <span class="strong"><strong><code class="literal">virtex6</code></strong></span>, <span class="strong"><strong><code class="literal">zynq</code></strong></span>.</p><div class="refsect2"><a id="_options_that_apply_to_all_operations_verbs_on_libraries"></a><h3>Options That Apply to All Operations (Verbs) on Libraries</h3><div class="variablelist"><dl class="variablelist"><dt><span class="term">
<span class="strong"><strong>-d &lt;directory&gt;</strong></span>
</span></dt><dd>
    Specify the directory in which the command should be run.
    Analogous to the <span class="strong"><strong>-C</strong></span> option in the POSIX <span class="strong"><strong>make</strong></span> command.
</dd><dt><span class="term">
<span class="strong"><strong>-v, --verbose</strong></span>
</span></dt><dd>
    Describe what is happening in command execution in more detail.
</dd></dl></div></div><div class="refsect2"><a id="_options_when_creating_libraries"></a><h3>Options When Creating Libraries</h3><div class="variablelist"><dl class="variablelist"><dt><span class="term">
<span class="strong"><strong><code class="literal">--exclude-platform=</code></strong></span><span class="emphasis"><em>&lt;platform&gt;</em></span>, <span class="strong"><strong><code class="literal">-Q</code></strong></span> <span class="emphasis"><em>&lt;platform&gt;</em></span>+
</span></dt><dd>
   Do not build the library for the specified platform.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--only-platform=</code></strong></span><span class="emphasis"><em>&lt;platform&gt;</em></span>, <span class="strong"><strong>-G</strong></span> <span class="emphasis"><em>&lt;platform&gt;</em></span>+
</span></dt><dd>
    Only build the library for the specified platform.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">-A</code></strong></span> <span class="emphasis"><em>&lt;directory&gt;</em></span>+
</span></dt><dd>
    Specify a directory to search for XML include files.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">-F</code></strong></span> <span class="emphasis"><em>&lt;package-prefix&gt;</em></span>
</span></dt><dd>
    Specify the package prefix of the created library. The default
    is <span class="emphasis"><em>&lt;package-ID-of-project&gt;</em></span> for libraries.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">-I</code></strong></span> <span class="emphasis"><em>&lt;directory&gt;</em></span>+
</span></dt><dd>
    Specify a directory to search for include files (C, C++,
    Verilog).
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">-K</code></strong></span> <span class="emphasis"><em>&lt;package-ID&gt;</em></span>
</span></dt><dd>
    Specify the package-ID directly. The default is
    <span class="emphasis"><em>&lt;package-prefix&gt;</em></span><span class="strong"><strong>.</strong></span><span class="emphasis"><em>&lt;package-name&gt;</em></span>.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">-N</code></strong></span> <span class="emphasis"><em>&lt;package-name&gt;</em></span>
</span></dt><dd>
    Specify the package name of the created library. The
    default is the <span class="emphasis"><em>&lt;name&gt;</em></span> argument given after the <span class="strong"><strong>create</strong></span> verb.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">-T</code></strong></span> <span class="emphasis"><em>&lt;target&gt;</em></span>+
</span></dt><dd>
    Only build the library for the specified architecture.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">-Y</code></strong></span> <span class="emphasis"><em>&lt;primitive-library&gt;</em></span>+
</span></dt><dd>
    Specify a primitive library on which the library (or assets
    it contains) depends.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">-Z</code></strong></span> <span class="emphasis"><em>&lt;target&gt;</em></span>+
</span></dt><dd>
    Do not build the library for the specified architecture.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">-k</code></strong></span>
</span></dt><dd>
    Keep files and directories created after a library creation
    fails. Normally, all such files and directories are removed
    on any failure.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">-y</code></strong></span> <span class="emphasis"><em>&lt;other-component-library&gt;</em></span>+
</span></dt><dd>
    Specify a component library to search for workers, devices
    and/or specs referenced by one or more assets in the created library.
</dd></dl></div></div><div class="refsect2"><a id="_options_when_deleting_libraries"></a><h3>Options When Deleting Libraries</h3><div class="variablelist"><dl class="variablelist"><dt><span class="term">
<span class="strong"><strong><code class="literal">-f</code></strong></span>
</span></dt><dd>
    Force deletion: do not ask for confirmation when deleting
    a library. Normally, you are asked to confirm a deletion.
</dd></dl></div></div><div class="refsect2"><a id="_options_when_building_libraries"></a><h3>Options When Building Libraries</h3><div class="variablelist"><dl class="variablelist"><dt><span class="term">
<span class="strong"><strong><code class="literal">--hdl</code></strong></span>
</span></dt><dd>
    Limit the assets being built to HDL primitives, workers or platforms.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--hdl-platform=</code></strong></span><span class="emphasis"><em>&lt;hdl-platform&gt;</em></span>+
</span></dt><dd>
    Build HDL assets in the library for the specified HDL platform.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--hdl-rcc-platform=</code></strong></span><span class="emphasis"><em>&lt;platform&gt;</em></span>+
</span></dt><dd>
    Build RCC/ACI assets in the library for the RCC platforms associated with the
    specified HDL platform. If this option is not used (and <span class="strong"><strong><code class="literal">--rcc-platform</code></strong></span>
    <span class="emphasis"><em>&lt;platform&gt;</em></span> is also not used), the current development software
    platform is used as the single RCC platform used for building.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--hdl-target=</code></strong></span><span class="emphasis"><em>&lt;target&gt;</em></span>+
</span></dt><dd>
    Build HDL assets in the library for the specified HDL architecture.
    If only HDL targets
    are specified (and no HDL platforms), containers are not
    built for HDL assemblies or unit test suites.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--rcc</code></strong></span>
</span></dt><dd>
    Limit the assets being built to RCC workers.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--rcc-platform=</code></strong></span><span class="emphasis"><em>&lt;platform&gt;</em></span>+
</span></dt><dd>
    Build RCC/ACI assets in the library for the specified RCC platform. If this
    option is not used (and <span class="strong"><strong><code class="literal">--hdl-rcc-platform</code></strong></span> <span class="emphasis"><em>&lt;platform&gt;</em></span>
    is also not used), the current development software platform
    is used as the single RCC platform used for building.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--worker=</code></strong></span><span class="emphasis"><em>&lt;worker&gt;</em></span>+
</span></dt><dd>
    Limit the assets being built to the specified worker.
</dd></dl></div></div><div class="refsect2"><a id="_options_when_running_libraries"></a><h3>Options When Running Libraries</h3><p>The options described here, when used in an "ocpidev run library"
command, are applied as appropriate to all of the unit tests
that reside in the library.</p><div class="variablelist"><dl class="variablelist"><dt><span class="term">
<span class="strong"><strong><code class="literal">--accumulate-errors</code></strong></span>
</span></dt><dd>
    Report execution or verification errors as they occur rather
    than ending the test on the first failure detected.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--exclude-platform=</code></strong></span><span class="emphasis"><em>&lt;platform&gt;</em></span>, <span class="strong"><strong><code class="literal">Q</code></strong></span> <span class="emphasis"><em>&lt;platform&gt;</em></span>+
</span></dt><dd>
    Specify the runtime platform to omit from a unit test suite.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--hdl-platform=</code></strong></span><span class="emphasis"><em>&lt;platform&gt;</em></span>+
</span></dt><dd>
    Specify the HDL platform to use with the unit test suite.
    This option is only valid in generate and build phases.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--keep-simulations</code></strong></span>
</span></dt><dd>
    Keep HDL simulation files regardless of verification results.
    By default, simulation files are removed if the verification
    is successful. Warning: Simulation files can become large!
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--library=</code></strong></span><span class="emphasis"><em>&lt;library&gt;</em></span>, <span class="strong"><strong><code class="literal">-l</code></strong></span> <span class="emphasis"><em>&lt;library&gt;</em></span>
</span></dt><dd>
    Run the unit test suite(s) in the specified library.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--mode=</code></strong></span><span class="emphasis"><em>&lt;mode&gt;</em></span>[,<span class="emphasis"><em>&lt;mode&gt;</em></span>[,<span class="emphasis"><em>&lt;mode&gt;</em></span>…]]
</span></dt><dd><p class="simpara">
    Specify which phase(s) of the unit test suite to execute. Valid modes are:
</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
<span class="strong"><strong>all</strong></span>:  execute all five phases (the default if <span class="strong"><strong><code class="literal">--mode</code></strong></span> is not used)
</li><li class="listitem">
<span class="strong"><strong>gen</strong></span>: execute generate phase
</li><li class="listitem">
<span class="strong"><strong>gen_build</strong></span>: execute generate and build phases
</li><li class="listitem">
<span class="strong"><strong>prep_run_verify</strong></span>: execute prepare, run, and verify phases
</li><li class="listitem">
<span class="strong"><strong>prep</strong></span>: execute prepare phase
</li><li class="listitem">
<span class="strong"><strong>run</strong></span>: execute run phase
</li><li class="listitem">
<span class="strong"><strong>prep_run</strong></span>: execute prepare and run phases
</li><li class="listitem">
<span class="strong"><strong>verify</strong></span>: execute verify phase
</li><li class="listitem">
<span class="strong"><strong>view</strong></span>: execute the view script (view.sh) on an already executed run
</li><li class="listitem">
<span class="strong"><strong>clean_all</strong></span>: clean all generated files
</li><li class="listitem">
<span class="strong"><strong>clean_run</strong></span>: clean all files generated during the run phase
</li></ul></div></dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--only-platform=</code></strong></span><span class="emphasis"><em>&lt;platform&gt;</em></span>, <span class="strong"><strong><code class="literal">G</code></strong></span> <span class="emphasis"><em>&lt;platform&gt;</em></span>+
</span></dt><dd>
    Specify the runtime platform to use with a unit test suite.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--rcc-platform=</code></strong></span><span class="emphasis"><em>&lt;platform&gt;</em></span>+
</span></dt><dd>
    Specify the RCC platform to use to build and generate the unit tests suite.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--remotes=</code></strong></span><span class="emphasis"><em>&lt;system&gt;</em></span>
</span></dt><dd>
    Specify the remote system to run the unit test suite(s) by setting the
    <span class="strong"><strong><code class="literal">OCPI_REMOTE_TEST_SYS</code></strong></span> variable. See the section
    "Defining Remote Systems for Executing Tests"
    in the <span class="emphasis"><em>OpenCPI Component Development Guide</em></span> for more information.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--view</code></strong></span>
</span></dt><dd>
    Run the view script (<span class="strong"><strong><code class="literal">view.sh</code></strong></span>) for the test at the conclusion of the
    test suite’s execution.
</dd></dl></div></div><div class="refsect2"><a id="_options_when_showing_libraries_plural_noun_only"></a><h3>Options When Showing Libraries (plural noun only)</h3><div class="variablelist"><dl class="variablelist"><dt><span class="term">
<span class="strong"><strong>--json</strong></span>
</span></dt><dd>
    Format the output in Javascript Object Notation (JSON) format
    for integration with other software.
</dd><dt><span class="term">
<span class="strong"><strong>--local-scope</strong></span>
</span></dt><dd>
    Only display information about the local library.
</dd><dt><span class="term">
<span class="strong"><strong>--simple</strong></span>
</span></dt><dd>
    Format the output as simply as possible.
</dd><dt><span class="term">
<span class="strong"><strong>--table</strong></span>
</span></dt><dd>
    Display the output in an easy-to-read table.
    This is the default display format
    used if <span class="strong"><strong>--simple</strong></span> or <span class="strong"><strong>--json</strong></span> are not used.
</dd></dl></div></div><div class="refsect2"><a id="_options_when_using_utilization_on_libraries"></a><h3>Options When Using Utilization on Libraries</h3><div class="variablelist"><dl class="variablelist"><dt><span class="term">
<span class="strong"><strong><code class="literal">--hdl=</code></strong></span><span class="emphasis"><em>&lt;library&gt;</em></span>
</span></dt><dd>
    Display information about FPGA resource use for the built workers
    contained in the specified HDL library.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--format=</code></strong></span>{<span class="strong"><strong><code class="literal">table</code></strong></span>|<span class="strong"><strong><code class="literal">latex</code></strong></span>}
</span></dt><dd>
    Specify the format in which to output the usage information.
    Specifying <span class="strong"><strong><code class="literal">table</code></strong></span> sends the information to stdout in tabular format.
    Specifying <span class="strong"><strong><code class="literal">latex</code></strong></span> bypasses <span class="strong"><strong><code class="literal">stdout</code></strong></span> and writes all output to
    <span class="strong"><strong><code class="literal">utilization.inc</code></strong></span> files in the directories for the assets on
    which it operates.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--hdl-platform=</code></strong></span><span class="emphasis"><em>&lt;platform&gt;</em></span>+
</span></dt><dd>
    Display information about FPGA resource use for the built workers
    in the libraries on the specified HDL platform.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">--library=</code></strong></span><span class="emphasis"><em>&lt;library&gt;</em></span>, <span class="strong"><strong><code class="literal">-l</code></strong></span> <span class="emphasis"><em>&lt;library&gt;</em></span>
</span></dt><dd>
    Display information about FPGA resource use for the built workers
    in the specified library.
</dd><dt><span class="term">
<span class="strong"><strong><code class="literal">-P</code></strong></span> <span class="emphasis"><em>&lt;hdl-platform&gt;</em></span>
</span></dt><dd>
    Display information about FPGA resource use for the built workers
    in the libaries on the specified HDL platform.
</dd></dl></div></div></div><div class="refsect1"><a id="_examples"></a><h2>EXAMPLES</h2><div class="orderedlist"><ol class="orderedlist" type="1"><li class="listitem"><p class="simpara">
Create the default <span class="strong"><strong><code class="literal">components</code></strong></span> library for a project:
</p><pre class="screen">ocpidev create library components</pre></li><li class="listitem"><p class="simpara">
Inside the <span class="strong"><strong><code class="literal">assets</code></strong></span> project, build the <span class="strong"><strong><code class="literal">util_comps</code></strong></span> library
for the <span class="strong"><strong><code class="literal">zed</code></strong></span> HDL platform and <span class="strong"><strong><code class="literal">xilinx13_3</code></strong></span> RCC platform.
</p><pre class="screen">ocpidev build library util_comps --hdl-platform zed
                                 --rcc-platform xilinx13_3</pre></li><li class="listitem"><p class="simpara">
Inside the <span class="strong"><strong><code class="literal">assets</code></strong></span> project, clean the <span class="strong"><strong><code class="literal">util_comps</code></strong></span> library:
</p><pre class="screen">ocpidev clean library util_comps</pre></li><li class="listitem"><p class="simpara">
Run all the unit tests in the default <span class="strong"><strong><code class="literal">components</code></strong></span> library
inside the current project:
</p><pre class="screen">ocpidev run library components</pre></li><li class="listitem"><p class="simpara">
Display information about the libraries in the current project:
</p><pre class="screen">ocpidev show libraries --local-scope</pre></li><li class="listitem"><p class="simpara">
Display FPGA resource usage information for all built workers in the
<span class="strong"><strong><code class="literal">components</code></strong></span> library in the current project:
</p><pre class="screen">ocpidev utilization library components</pre></li></ol></div></div><div class="refsect1"><a id="_bugs"></a><h2>BUGS</h2><p>See <a class="ulink" href="https://www.opencpi.org/report-defects" target="_top">https://www.opencpi.org/report-defects</a></p></div><div class="refsect1"><a id="_resources"></a><h2>RESOURCES</h2><p>See the main web site: <a class="ulink" href="https://www.opencpi.org" target="_top">https://www.opencpi.org</a></p></div><div class="refsect1"><a id="_see_also"></a><h2>SEE ALSO</h2><p><a class="ulink" href="ocpidev.1.html" target="_top">ocpidev(1)</a>
<a class="ulink" href="ocpidev-build.1.html" target="_top">ocpidev-build(1)</a>
<a class="ulink" href="ocpidev-clean.1.html" target="_top">ocpidev-clean(1)</a>
<a class="ulink" href="ocpidev-component.1.html" target="_top">ocpidev-component(1)</a>
<a class="ulink" href="ocpidev-create.1.html" target="_top">ocpidev-create(1)</a>
<a class="ulink" href="ocpidev-delete.1.html" target="_top">ocpidev-delete(1)</a>
<a class="ulink" href="ocpidev-project.1.html" target="_top">ocpidev-project(1)</a>
<a class="ulink" href="ocpidev-run.1.html" target="_top">ocpidev-run(1)</a>
<a class="ulink" href="ocpidev-show.1.html" target="_top">ocpidev-show(1)</a>
<a class="ulink" href="ocpidev-utilization.1.html" target="_top">ocpidev-utilization(1)</a></p></div><div class="refsect1"><a id="_copying"></a><h2>COPYING</h2><p>Copyright (C) 2020 OpenCPI www.opencpi.org. OpenCPI is free software:
you can redistribute it and/or modify it under the terms of the
GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your
option) any later version.</p></div></div></body></html>